 :root
      {
        --main-color:rgb(240, 194, 200);
        --font-color:rgb(101, 54, 31);
        --secondary-color:#fff6e6;
        --rating-color:#c5afb1;
        --search-border-color:rgb(187, 162, 153);
      }
 
 /* footer */

      .footer-container{
        background-color: var(--main-color);
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr 1.5fr; /* 四列比例 */
        padding: 50px 5%;
        gap: 30px;
        margin-top: 50px;
      }

      .footer-col{
      padding:0 15px;  
      color:var(--font-color);
      }

     .logo-info {
      text-align: center;
      color:var(--font-color);
    }

    .logo-info p {
      margin-top: 15px;
      font-size: 0.9rem;
      width:200px;
      margin-left:-20px;
    }

    .footer-logo{
      width:80px;
      margin-bottom:15px;
      display:block;
    }

    .footer-col h4{
      color:var(--font-color);
      font-family: 'Quicksand', sans-serif;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .footer-col h6{
      color:var(--font-color);
      font-family: 'Quicksand', sans-serif;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .footer-col ul {
      margin-left:20px;
    padding: 0;
    }

    .footer-col ul li {
        margin-bottom: 8px;
    }

    .footer-col a {
        text-decoration: none;
        color: var(--font-color);
    }

    .links a:hover{
        text-decoration: underline;
    }